<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>267900717765-rhmnikjh1c9q50du9gd91kkcecoe880q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267900717765-rhmnikjh1c9q50du9gd91kkcecoe880q</string>
	<key>API_KEY</key>
	<string>AIzaSyDA9R3KfeIhCsux5MJ7ydoOrT9vubXptX4</string>
	<key>GCM_SENDER_ID</key>
	<string>267900717765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.crsur.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-238ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-238ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:267900717765:ios:7effa09a75109c01</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-238ad.firebaseio.com</string>
</dict>
</plist>